<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8>
    <title>Flask Password Generator</title>
    <style>
        h1 {
            color: #555;
            border-bottom: 1px solid #555;
        }
        table, th, td {
            border: 1px dotted #ccc;
            border-collapse: collapse;
            padding: 10px;
            text-align: left;
            word-wrap:break-word;
            table-layout:fixed;
        }
    </style>
</head>
<body>
    <h1 align=center>Password Generator</h1>
    <table style=width:100%>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ random }}</td>
            <td>{{ base64_encoded }}</td>
            <td>{{ md5_encoded }}</td>
        </tr>
    </table>
</body>
</html>