<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Password Generator</title>
</head>
<body>
    <h1>[USING]<h1> 
    <h2>/generate/length</h2>
    <h2>/generate/text</h2>
    <h1>[EXAMPLE]<h1> 
    <h2>/generate/20</h2> 
    <h2>/generate/hello</h2><br><br>
    <h1>[API USING]</h1>
    <h2>curl -XPOST localhost:8080/api/length</h2>
    <h2>curl -XPOST localhost:8080/api/text</h2>
    <h1>[EXAMPLE]</h1>
    <h2>curl -XPOST localhost:8080/api/20</h2>
    <h2>curl -XPOST localhost:8080/api/hello</h2>
</body>
</html>